h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    min-width: 320px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}